
@{
    ViewBag.Title = "GetDoctors";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}
<br />
<h5 style="color:gray">Doctors</h5>
<br />
<div class="row">
    <div class=" col-sm-4 input-group" style="margin-left:70px ;min-width:400px;max-width:400px">
        <input type="text" class="form-control" placeholder="Search using Doctor name">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="button">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>


</div>
<br />

@for (int i = 0; i < 10; i++)
{
<div class="container bcontent">
    <div class="card" style="width: 90%;margin:auto">
        <div class="row no-gutters">
            <div class="col-md-2">
                <img class="card-img  rounded-circle CardPhotoPatients" style="margin-left:30%" src="../CustomFolder/patient2.jpg" alt="Suresh Dasari Card">
            </div>
            <div class="offset-1 col-md-9">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li>Doctor name</li>
                                <li>Doctor Address</li>
                                <li>Doctor Ageeeeeeeeeeeee</li>
                                <li>Doctor Gender</li>

                            </ul>
                        </div>
                        <div class=" col-md-6">
                            <ul>
                                <li>Doctor Phone</li>
                                <li>Doctor Emailllllllllllllll</li>
                                <li>Doctor name</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" style="float:right;margin-top:-25px">
                        <a href="#" class="btn btn-primary" style="float:right;width:120px;margin-right:1px">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
        }

    

